<h1>Nutrition</h1>
<header>
<%= stylesheet_link_tag 'nutrition' %>
</header>

<table>
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @nutrition.each do |nutrition| %>
      <tr>
        <td><%= nutrition.food_name %></td>
        <td><%= link_to 'Details', nutrition_path(nutrition) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Meal", new_nutrition_path %>

