body {
    color: orange; 
    text-align: center;
    margin-top: 300px;
    font-size: 20px;
    background-image: url(https://www.publicdomainpictures.net/pictures/540000/velka/man-in-a-gym-16958160123Wx.jpg);
    background-size: cover;
}